extends base.pug

block scripts
  script(src='/static/script.js')

block style 
    style
      include ../static/style.css

block content
    section#introSection 
        div Welcome to Durgesh's Dance Academy
        div.small  Eat Sleep Dance Repeat
    section#missionSection 
        h2 Mission Section
        div.card
          h3 Let Your Soul Dance
          div.card-box 
              div.card-img 
                  img(src="../static/box5.png", alt="", srcset="")
              div.card-content 
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum doloribus molestiae nostrum?
        div.card
          h3 Explore Every Jaundra of Dance
          div.card-box 
              div.card-img 
                  img(src="../static/box2.png", alt="", srcset="")
              div.card-content 
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum doloribus molestiae nostrum?
        div.card
          h3 Experts Teaching
          div.card-box 
              div.card-img 
                  img(src="../static/box3.png", alt="", srcset="")
              div.card-content 
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum doloribus molestiae nostrum?
    section#sponsorsSection 
        h2 Our Sponsors 
        div#sponsors 
          img(src="../static/s1.png", alt="", class="spImage")
          img(src="../static/s2`.png", alt="", class="spImage")
          img(src="../static/s3.png", alt="", class="spImage")
          img(src="../static/s4.png", alt="", class="spImage")
          img(src="../static/s5.png", alt="", class="spImage")
